# XXX - ART
# Must modify this file - can't be part of the DRMS release since it has Stanford-specific stuff in it

#schemaname.seriesname          subscribe/unsubscribe (if new_site = true, assumes these are "subscribe")
su_arta.lev1			subscribe
