# This template file contains configurable parameters used by replication server code. The server
# code includes subscription_manager, publish_series.sh, unpublish_series, parse_slony_logs
# prep_slony_logs, archivelogs.pl, manage_logs.pl, subscription_cleanup, subscription_manager,
# and subscription_update.
#
# Each NetDRMS site using the replication code should copy this file to a writeable location
# and edit it as appropriate. Each of the server-side replication scripts sources this configuration 
# file to set environment variables needed by that script.

#######################################################
# server-side-wide configurable parameters
#######################################################

CLUSTERNAME=<slony clustername>
MASTERDBNAME=<slony master database name>
MASTERHOST=<slony master hostname/IP address>
MASTERPORT=<slony master port>
SLAVEDBNAME=<slony slave database name>
SLAVEHOST=<slony slave hostname/IP address>
SLAVEPORT=<slony slave port>
REPUSER=<postgreSQL user who accesses master and slave databases>

kServerLockDir=<directory to hold all lock files shared by any server processes>

#######################################################
# publish_series.sh configurable parameters
#######################################################

REP_PS_TMPDIR=<location to write temporary files>
REP_PS_LOGDIR=<location to write log files>
REP_PS_MERGETO=<seconds to wait for merge to succeed>

#######################################################
# subscription_manager configurable parameters
#######################################################

triggerdir=<directory to which the subscriber (client) writes>
subscribers_dir=<directory containing the subscriber (client) site-specific log subdirectories>
parser_config=<file containing list of subscribers (client sites) and their .lst file paths>
tables_dir=<directory containing the subscribers .lst files>
sl_dump_timeout=<seconds to wait for sdo_slony1_dump.sh to finish>
SMworkDir=<working directory used for temporary files>

#######################################################
# parse_slony_logs configurable parameters
#######################################################

kPSLworkDir=<working directory for temporary files>
kPSLlogsSourceDir=<directory containing original, unparsed slony logs>
kPSLprepBin=<full path to prep_slony_logs - the program that does the actual parsing>
kPSLprepCfg=<configuration file for prep_slony_logs, contains list of lst files>
kPSLprepLog=<log file for prep_slony_logs>
kPSLlogReady=<counter file - counter of last file generated by slony>

#######################################################
# manage_slony configurable parameters
#######################################################

kMSMasterPIDFile=<full path to the PID file created when the master slon starts>
kMSSlavePIDFile=<full path to the PID file created when the slave slon starts>
kMSLogDir=<directory to contain log files>
kMSWorkDir=<working directory for temporary files or state files>
kMSOnSync=<command to execute each time a log-file is generated (the log-file path is appended to this command)>
